.checkout-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.checkout-form * {
  border: 0;
  padding: 0;
}

.checkout-form label, .checkout-form button {
  max-width: 600px;
  width: 90%;
}

.checkout-form select, .checkout-form input {
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(17, 17, 17, 0.329);
  height: 30px;
  max-width: 600px;
  width: 100%;
}

.checkout-form button {
  margin: 20px 0;
  max-width: 600px;
}

.checkout-form .finish-sale-btn {
  background-color: #036;
  border: none;
  border-radius: 10px;
  bottom: 120px;
  box-shadow: 1px 2px 5px rgba(17, 17, 17, 0.329);
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 900;
  height: 40px;
  padding: 5px;
}

.checkout-form .finish-sale-btn:hover {
  background-color: rgb(0, 44, 88);
}
