.container-card {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container-products {
  margin: auto;
  max-width: 1200px;
}

.cart-button {
  background-color: #036;
  border: none;
  border-radius: 70px;
  bottom: 40px;
  box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.884);
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  height: 80px;
  padding: 5px 30px;
  position: fixed;
  right: 30px;
  transition: 0.25s;
  width: 250px;
}

.cart-button:disabled {
  background-color: rgba(0, 51, 102, 0.205);
  cursor: not-allowed;
  transition: 0.25s;
}

.cart-button:enabled:hover {
  background-color: rgb(0, 44, 88);
}
